#currentDateNode {
    -fx-background-color: #333333, #D3D3D3;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 4, 2;
    -fx-alignment: center;
}

#currentDateWeekday
{
    -fx-font-size: 1.5em;
}

#currentDateLabel {
    -fx-font-size: 3.5em;
    -fx-text-alignment: center;
    -fx-alignment: center;
}
