#futureEventsNode {
    -fx-background-color: #333333, #D3D3D3;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 4, 2;
    -fx-alignment: center;
    -fx-font-family: K2D;
}

#futureEventsTopDate, #futureEventsBottomDate
{
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-size: 2.2em;
}

#futureEventsTopDesc, #futureEventsBottomDesc
{
    -fx-font-size: 0.8em;
    -fx-alignment: center;
    -fx-wrap-text: true;
}

#futureEventsSeparator .line
{
    -fx-background-color: #000000;
    -fx-border-color: transparent;
}