#nextEventNode {
    -fx-background-color: #333333, #D3D3D3;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 4, 2;
    -fx-alignment: center;
}

#nextEventLabel
{
    -fx-font-size: 1em;
    -fx-alignment: center;
}

#nextEventDateLabel
{
    -fx-font-size: 5em;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

#nextEventDescLabel
{
    -fx-font-size: 0.8em;
    -fx-alignment: center;
    -fx-wrap-text: true;
}