#tabPaneRoot
{
    -fx-font-family: K2D;
    -fx-tab-min-height: 20px;
    -fx-tab-max-height: 20px;
    -fx-pref-width: 600px;
    -fx-pref-height: 400px;
}

.button
{
    -fx-background-color: #333333, #aaaaaa;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 4, 2;
}

.button:hover
{
    -fx-background-color: #333333, #cccccc;
    -fx-scale-x: 1.01;
    -fx-scale-y: 1.01;
}